/*
 * Base structure of page
 */

body {
  /* text-shadow: 0 .05rem .05rem rgba(0, 0, 0, .5); */
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, .15);
  height: 100%;
}

.cover-container {
  max-width: 98%;
}


/*
 * Header
*/

.nav-masthead .nav-link {
  /* Unselected button color */
  color: rgba(0, 0, 0, .5);
  /* Size of line under buttons */
  border-bottom: .2rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  /* Color of the bar under button when hovered upon */
  border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
  /* Margins between buttons */
  margin-left: 1.8rem;
}

.nav-masthead .active {
  /* Text color of selected button */
  color: #000;
  /* Color of line under selected button */
  border-bottom-color: #000;
}
