/*
 * BASE STRUCTURE OF PAGE & CUSTOM COMPONENTS ______________________________
 */
 body {
  height: auto;
  width: 100%;
  color:#000!important;
  background-color:RGBA(248,249,250,1)!important
}

.cover-container {
  max-width: 98%;
}

.btn-action {
  background-color: rgba(230, 0, 126, 0.7);
  outline-color: rgb(230, 0, 126);
  color: #fff;
  font-weight: 700;
}

.btn-action:hover {
  background-color: rgb(230, 0, 126);
  outline-color: rgb(230, 0, 126);
  color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* 
 * HEADER ___________________________________________________________________
 */
.the_header {
  background-color: rgb(248, 249, 250);
  padding: 0.5rem 2rem 0.5rem 1rem;
  position: relative;
  z-index: 2;
}

.navbar-brand {
  /* My name in the header */
  font-family: hobeaux, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 0.2rem;
  margin-right: 0;
}

.nav-masthead .nav-link {
  /* Unselected button color */
  color: rgba(0, 0, 0, 0.5);
  /* Size of line under buttons */
  border-bottom: 0.2rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  /* Color of the bar under button when hovered upon */
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.nav-masthead .nav-item .nav-link {
  /* Margins between buttons */
  margin-left: 2rem;
}

.nav-masthead .active {
  /* Text color of selected button */
  color: #000;
  /* Color of line under selected button */
  border-bottom-color: #000;
}

/* 
 * FOOTER ___________________________________________________________________
 */
.footer_col {
  width: auto;
  font-weight: 700;
  height: 3rem;
  transition: transform 0.5s ease;
}

.footer_col p:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}

/*
 * LANDING PAGE ______________________________________________________
*/
#index_text_div {
  margin-top: 30rem;
  margin-left: 70%;
  position: relative;
  z-index: 5;
  transition: transform 0.5s ease;
}

/*
* My Work page ________________________________________________________
*/

// Page title section
.title-box { 
  margin-bottom: 4rem;
}

// Page title style
.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

// Page subtitle
.subtitle-a {
  text-decoration: none;
  color: #4e4e4e;
}

// Line under title section
.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}

.work-box {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  transform: scale(1.1);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: 0.8rem;
}

.work-content .w-more .w-ctegory {
  color: #4e4e4e;
}

// Box title
.w-title {
  font-size: 1.2rem;
  color: #1e1e1e;
}

/*
 * PROJECT Top Carrousel _______________________________________________________________
*/
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  width: 100%;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 1rem;
  z-index: 10;
  width: 30vw;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: auto;
  width: 100%;
}

.carousel-item img {
  width: 100%;
}

.carousel-caption.left {
  margin-left: -5vw;
}

.carousel-caption.right {
  margin-left: 45vw;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.mobile-carousel-caption {
  margin: 0.5rem 2rem 0 2rem;
  text-align: center;
  font-style: italic;
}

.show-mobile {
  display: none; 
}

/* 
 * Skills section __________________________________________________________
 */

/* Center align the text within the three columns below the carousel */
.myskills .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.myskills .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* 
 * Featurettes __________________________________________________________
 */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/*
 * Ball Gown Carousel _________________________________________________________
*/

$animationSpeed: 30s;
$nbpictures: 3;
$margin: 10px;
$height: 500px;
$width: 500px;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(calc($width + $margin) * (-1) * $nbpictures))}
}

// Styling
.slider {
	height: $height;
	margin: auto;
	overflow: hidden;
	position: relative;
  top: -2vw;
	width: 100%;
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(calc($width + $margin) * calc($nbpictures * 2));
	}
	
	.slide {
        img{
            height: $height;
            margin-left: $margin;
            width: $width;
        }
	}
}

/*
 * Discover Windows _________________________________________________________
*/

.btn-webapp {
  width: 24rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: x-large;
}

/*
* About Me page _____________________________________________________________
*/
.my_Name {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20%;
}

#CV_img {
  width: 60%; 
  margin-left: 20%; 
  margin-top: 10rem; 
  box-shadow: -1px 1px 10px 0 rgba(0, 0, 0, 0.4);
}

/*
* Gallery Page _____________________________________________________________
*/

figure {
	width: 100%;
	margin: 0;
    transition: .3s;

    img {
        filter: brightness(95%);
    }
}

figcaption {
	position: absolute;
    width: 98.5%;
    // left: 2px;
    // bottom: 7px;
    bottom: 3px;
	z-index: 1;
	font-family: fira-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
	color: white;
	padding-left: 0.5vw;
	opacity: 0;
    line-height: 3vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
	transition: .3s;
}

figcaption span {
    position: relative;
	top: 0.5vw;
}


figure:hover {
    transform: scale(1);
    img {
        filter: brightness(105%);
    }

	figcaption {
		opacity: 1;
	}
}


.row{
	display: flex;
	flex-wrap: wrap;
}

.pictures {
	columns: 3 20vw;
}

.gallery{
	padding: 3vw 0; /* top margin above buttons */
}
.gallery .gallery-filter{
	width: 100%;
	text-align: center;
	margin-bottom: 5vw;
}
.gallery .gallery-filter .filter-item{
	color: rgba(30, 30, 30, 0.7);
	font-family: fira-sans, sans-serif;
	font-size: 1.2vw;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 1rem;
  margin-right: 1vw;
	cursor: default;
  padding: 0.45vw 1vw 0.35vw 1vw;
	transition: all 0.3s ease;
}
.gallery .gallery-filter .filter-item.active{
	color: rgba(30, 30, 30, 1);
  font-size: 1.5vw;
  font-weight: 600;
}

.gallery .gallery-filter .filter-item:hover {
  font-weight: 600;
}

.gallery .gallery-item{
	width: 100%;
	padding: 0 0vw 0.6vw 1vw;
}

.gallery .gallery-item-inner img{
	width: 100%;
	transition: all 0.3s ease;
}

.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery .gallery-item.hide{
	display: none;
}


/* Loading element */
/* V2 */
.square {
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 0.5vw;
	background-color: #0F265C;
	animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.square-holder {
	width: 8.5vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vw;
}

@keyframes loadingG {
	0% {
	  transform: translate(0, 0) rotate(0deg);
	}
	50% {
	  transform: translate(7vw, 0) rotate(360deg);
	}
	100% {
	  transform: translate(0, 0) rotate(0deg);
	}
  }

.details-link{
  width: 1.7rem;
  opacity: 0.7;
  margin-top: 0.2rem;
}

.details-link:hover {
  opacity: 1;
}

.portfolio #portfolio-flters {
  /* Avoids having dots in front of each list item */
  list-style: none;
  /* Distance between bottom of filters and top of gallery */
  margin-bottom: 3rem;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  font-family: fira-sans, sans-serif;
	font-weight: 500;
  margin: 0 10px 10px 10px;
  font-size: 17px;
  line-height: 1;
  padding: 7px 10px;
  text-transform: uppercase;
  color: rgba(30, 30, 30, 0.7);
  transition: all 0.3s ease-in-out;
  /* White color to saveguard the space and turn black when hovered upon. */
  border: 2px solid rgba(0, 0, 0, 0);
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: rgba(30, 30, 30, 1);
  border-color: rgba(30, 30, 30, 1);
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #ffc041;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.2);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}


/*
* RESPONSIVENESS ____________________________________________________________
*/
@media (max-width: 1500px) {
  #index_text_div {
    transform: translateX(-25%) translateY(5rem);
  }
}

@media (max-width: 1300px) {
  #index_text_div {
    width: 15rem;
    transform: translateX(0%);
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .hidden-mobile {
    display: none;
  }
  .show-mobile {
    display: inline;
  }
  .carousel-item.r img {
    width: 200%;
    margin-left: -75%;
  }
  .carousel-item.m img {
    width: 200%;
    margin-left: -50%;
  }
  .carousel-item.l img {
    width: 200%;
    margin-left: -25%;
  }
  .carousel-item.ll img {
    width: 200%;
    margin-left: -25%;
  }
  #CV_img {
    width: 90%; 
    margin-left: 5%; 
    margin-top: 5rem;
  }
  #index_text_div {
    text-align: center;
    width: 17rem;
    transform: translateX(-40%) translateY(5rem);
  }
}

@media (max-width: 600px) {
  .hidden-mobile-xs {
    display: none;
  }
  #index_text_div {
    margin-top: 30%;
    width: 100%;
    margin-left: 0;
    transform: none;
  }
}





