$amount: 5;

:root {
    --Nhexa: 4;
    --gap: 2vw;
    --size: calc(calc(100vw / var(--Nhexa)) - var(--gap))
}

.hex-grid__list {
    --amount: 5;
    --counter: 1;
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(var(--amount), 1fr, 2fr) 1fr;
    grid-gap: 1rem 2rem;
}

.hex-grid__item {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    height: 0;
    padding-bottom: 90%;

    // Columns
    @for $i from 1 through $amount {
        &:nth-of-type(#{$amount}n + #{$i}) {
            grid-column: #{$i + $i - 1} / span 3;
            @if $i % 2 == 0 {
                grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
            }
        }
    }
    // Rows
    @for $i from 1 through 20 {
        &:nth-of-type(n + #{$i * $amount + 1}) {
            --counter: #{$i + 1};
        }
    }
}

.hex-grid__content {
    position: absolute;
    left: 0;
    top: 0;
    height: var(--size);
    width: var(--size);
}

.hex-grid__content.blank {
    background-color: transparent;
}

.Image {
    width: 100%;
    height: 100%;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
	transform-origin: 0% 50%;
    z-index: 1;
}

.Image.Skill_B {
    width: 120%;
    height: 120%;
    z-index: 0;
}

.Image.Project_B_C {
    position: absolute;
    opacity: 0%;
}

.Image.Project_B_C:hover {
    opacity: 100%;
}

.header {
    height: 4vw;
    width: 100%;
    background-color: #0F265C;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

h1 {
    color: #FEDBAF;
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2vw;
}

h3 {
    color: #0F265C;
    font-size: 1.5vw;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
}

.header_button:hover {
    opacity: 0.8;
}

body {
    margin-left: 0%;
    margin-right: 0%;
}

.title_element {
    background-color: #FEDBAF;
    position: relative;
    width: 100%;
    height: 45vw;
}

h2 {
    color: #0F265C;
    font-size: 3vw;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.my_Name {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
}

// .Project_menu {
//     background-image: url("./Images/Background@4x.png");
//     background-size: cover;
//     background-position: center;
// }

p {
    font-family: fira-sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    color: #0F265C;
}

footer {
    width: 100%;
    height: 10vw;
    padding-top: 2vw;
    position: absolute;
    margin-top: 4vw;
    // background-color: #E7E9EF;
    background-color: #DBDEE7;
}

.footer_icon {
    width: 3vw;
    height: 2.3vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

#contact_info {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

