/*
 * BASE STRUCTURE OF PAGE & CUSTOM COMPONENTS ______________________________
 */

:root {
  --dark-blue: #002B5B;
  --red-orange: #EA5455;
  --black: #333333;
}
 body {
  height: auto;
  width: 100%;
  color: var(--black)!important;
  background-color: #F5F5F5!important
}

.cover-container {
  max-width: 98%;
}

.btn-action {
  background-color: var(--red-orange);
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
}

.btn-action:hover {
  background-color: var(--red-orange);
  outline: none;
  color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

h3 {
  font-family: 'Francois One', sans-serif;
  font-style: normal;
  font-weight: 500;
  user-select: none;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  user-select: none;
  font-size: 1rem;
  margin: 0;
}

.icon {
  width: 32px;
  height: 32px;
}

/* 
 * HEADER ___________________________________________________________________
 */
.the_header {
  padding: 0.5rem 2rem 0.5rem 1rem;
  position: relative;
  z-index: 2;
}

.navbar-brand {
  /* My name in the header */
  margin-top: 0.2rem;
  margin-right: 0;
  color: var(--dark-blue);
}

.nav-masthead .nav-link {
  /* Unselected button color */
  color: var(--dark-blue);
  /* Size of line under buttons */
  border-bottom: 0.2rem solid transparent;
  /* Button text style - weight and size are set with bootstrap classes */
  font-family: 'roboto', sans-serif;

}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  /* Color of the bar under button when hovered upon */
  border-bottom-color: var(--red-orange);
}

.nav-masthead .nav-item .nav-link {
  /* Margins between buttons */
  margin-left: 2rem;
}

.nav-masthead .active {
  /* Text color of selected button */
  color: var(--black);
  /* Color of line under selected button */
  border-bottom-color: var(--black);
}

/* 
 * FOOTER ___________________________________________________________________
 */
.footer_col {
  width: auto;
  font-weight: 700;
  height: 3rem;
  transition: transform 0.5s ease;
}

.footer_col p:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}

/*
 * LANDING PAGE ______________________________________________________
*/
#top_section {
  width: 100%;
  padding-top: 3rem;

  display: flex;
  gap: 3rem;
  align-items: flex-end;

  >img {
    margin-left: 10%;
    width: 35%;
  }
}

#top-action-btns {
  z-index: 3;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#top-line {
  width: 100%;
  height: 90px;
  margin-top: -90px;
  background-image: url("../Images/LandingTopLine.png");
  background-position: bottom;
  background-size: 100% 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

#top-text {
  margin-bottom: 17%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#top-text h3 {
  color: var(--dark-blue);
  position: relative;
}

#top-text h3:nth-of-type(1) {
  font-size: 2.75rem;
}
#top-text h3:nth-of-type(2) {
  font-size: 5rem;
}
#top-text h3:nth-of-type(3) {
  font-size: 1.75rem;
}

#frames-section {
  width: 100%;
  background-image: url(./Images/FrameBackground.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.oneFrame {
  display: flex;
  align-items: flex-end;
}

#frame-l {
  padding-left: 10%;
  padding-top: 10rem;
}

#frame-r {
  padding-top: 10rem;
  padding-right: 10%;
  padding-left: 10%;
}

.photoFrame {
  width: 1000px;
}

.frameCard {
  background-color: white;
  padding: 10px;
  width: 350px;
  margin: 0px 20px 23px 20px;
  box-shadow: 
        -2px 4px 4px 0 rgba(0, 0, 0, 0.25), /* First shadow */
        0px 0px 4px 0 rgba(0, 0, 0, 0.10); /* Second shadow */
}

.more_details {
  display: flex; 
  align-items: center; 
  gap: 5px; 
  margin-top: 5px;
  color: var(--black);
}

a {
  text-decoration: none;
}

.more_details p:hover {
  font-weight: 700;
}

.button-action {
  background-color: var(--red-orange);
  border-radius: 1rem;
  gap: 1.5rem;
  height: 50px;
  padding: 1.5rem;
  display: flex;
  width: fit-content;
}

.button-action p {
  color: #fff;
  font-size: 1.5rem;
}

.button-secondary {
  @extend .button-action;
  border: 2px solid var(--red-orange);
  background-color: transparent;
  p {
    color: var(--red-orange);
  }
}

.center-button-div {
  width: 100%;
  padding-left: calc(50% - 150px);
  padding-top: 100px;
  height: 300px;
}

/*
* My Work page ________________________________________________________
*/

// Page title section
.title-box { 
  margin-bottom: 4rem;
}

// Page title style
.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

// Page subtitle
.subtitle-a {
  text-decoration: none;
  color: #4e4e4e;
}

// Line under title section
.line-mf {
  width: 40px;
  height: 5px;
  background-color: var(--red-orange);
  margin: 20px auto 0 auto;
}

.work-box {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  transform: scale(1.1);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: 0.8rem;
}

.work-content .w-more .w-ctegory {
  color: #4e4e4e;
}

// Box title
.w-title {
  font-size: 1.2rem;
  color: #1e1e1e;
}

/*
 * PROJECT Top Carrousel _______________________________________________________________
*/
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  width: 100%;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 1rem;
  z-index: 10;
  width: 30vw;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: auto;
  width: 100%;
}

.carousel-item img {
  width: 100%;
}

.carousel-caption.left {
  margin-left: -5vw;
}

.carousel-caption.right {
  margin-left: 45vw;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.mobile-carousel-caption {
  margin: 0.5rem 2rem 0 2rem;
  text-align: center;
  font-style: italic;
}

.show-mobile {
  display: none; 
}

/* 
 * Skills section __________________________________________________________
 */

/* Center align the text within the three columns below the carousel */
.myskills .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.myskills .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* 
 * Featurettes __________________________________________________________
 */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/*
 * Ball Gown Carousel _________________________________________________________
*/

$animationSpeed: 30s;
$nbpictures: 3;
$margin: 10px;
$height: 500px;
$width: 500px;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(calc($width + $margin) * (-1) * $nbpictures))}
}

// Styling
.slider {
	height: $height;
	margin: auto;
	overflow: hidden;
	position: relative;
  top: -2vw;
	width: 100%;
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(calc($width + $margin) * calc($nbpictures * 2));
	}
	
	.slide {
        img{
            height: $height;
            margin-left: $margin;
            width: $width;
        }
	}
}

/*
 * Discover Windows _________________________________________________________
*/

.btn-webapp {
  width: 24rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: x-large;
}

/*
* About Me page _____________________________________________________________
*/

.about-me-section {
  width: 80%;
  margin-left: 10%;
  margin-top: 4rem;
  // margin-bottom: 8rem;
}

#section-1 {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

#section-2 {
  display: flex;
  
}

/*
* Gallery Page _____________________________________________________________
*/

figure {
	width: 100%;
	margin: 0;
    transition: .3s;

    img {
        filter: brightness(95%);
    }
}

figcaption {
	position: absolute;
    width: 98.5%;
    // left: 2px;
    // bottom: 7px;
    bottom: 3px;
	z-index: 1;
	font-family: fira-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
	color: white;
	padding-left: 0.5vw;
	opacity: 0;
    line-height: 3vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
	transition: .3s;
}

figcaption span {
    position: relative;
	top: 0.5vw;
}


figure:hover {
    transform: scale(1);
    img {
        filter: brightness(105%);
    }

	figcaption {
		opacity: 1;
	}
}


.row{
	display: flex;
	flex-wrap: wrap;
}

.pictures {
	columns: 3 20vw;
}

.gallery{
	padding: 3vw 0; /* top margin above buttons */
}
.gallery .gallery-filter{
	width: 100%;
	text-align: center;
	margin-bottom: 5vw;
}
.gallery .gallery-filter .filter-item{
	color: rgba(30, 30, 30, 0.7);
	font-family: fira-sans, sans-serif;
	font-size: 1.2vw;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 1rem;
  margin-right: 1vw;
	cursor: default;
  padding: 0.45vw 1vw 0.35vw 1vw;
	transition: all 0.3s ease;
}
.gallery .gallery-filter .filter-item.active{
	color: rgba(30, 30, 30, 1);
  font-size: 1.5vw;
  font-weight: 600;
}

.gallery .gallery-filter .filter-item:hover {
  font-weight: 600;
}

.gallery .gallery-item{
	width: 100%;
	padding: 0 0vw 0.6vw 1vw;
}

.gallery .gallery-item-inner img{
	width: 100%;
	transition: all 0.3s ease;
}

.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery .gallery-item.hide{
	display: none;
}


/* Loading element */
/* V2 */
.square {
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 0.5vw;
	background-color: #0F265C;
	animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.square-holder {
	width: 8.5vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vw;
}

@keyframes loadingG {
	0% {
	  transform: translate(0, 0) rotate(0deg);
	}
	50% {
	  transform: translate(7vw, 0) rotate(360deg);
	}
	100% {
	  transform: translate(0, 0) rotate(0deg);
	}
  }

.details-link{
  width: 1.7rem;
  opacity: 0.7;
  margin-top: 0.2rem;
}

.details-link:hover {
  opacity: 1;
}

.portfolio #portfolio-flters {
  /* Avoids having dots in front of each list item */
  list-style: none;
  /* Distance between bottom of filters and top of gallery */
  margin-bottom: 3rem;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  font-family: fira-sans, sans-serif;
	font-weight: 500;
  margin: 0 10px 10px 10px;
  font-size: 17px;
  line-height: 1;
  padding: 7px 10px;
  text-transform: uppercase;
  color: rgba(30, 30, 30, 0.7);
  transition: all 0.3s ease-in-out;
  /* White color to saveguard the space and turn black when hovered upon. */
  border: 2px solid rgba(0, 0, 0, 0);
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: rgba(30, 30, 30, 1);
  border-color: rgba(30, 30, 30, 1);
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #ffc041;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.2);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}


/*
* RESPONSIVENESS ____________________________________________________________
*/
@media (max-width: 1600px) {
  .oneFrame {
    flex-direction: column;
  }
  #frame-l {
    align-items: flex-start;
  }
  #frame-r {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1300px) {
  #top-text h3:nth-of-type(1) {
    font-size: 1.9rem;
  }
  #top-text h3:nth-of-type(2) {
    font-size: 3.5rem;
  }
  #top-text h3:nth-of-type(3) {
    font-size: 1.225rem;
  }
  .photoFrame {
    width: 85%;
  }
  #frame-r .photoFrame {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .hidden-mobile {
    display: none;
  }
  .show-mobile {
    display: inline;
  }
  .carousel-item.r img {
    width: 200%;
    margin-left: -75%;
  }
  .carousel-item.m img {
    width: 200%;
    margin-left: -50%;
  }
  .carousel-item.l img {
    width: 200%;
    margin-left: -25%;
  }
  .carousel-item.ll img {
    width: 200%;
    margin-left: -25%;
  }
  #top_section {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0;
    #top-action-btns {
      justify-content: center;
      margin-top: 3rem;
    }
    #top-text {
      text-align: center;
      margin-bottom: 0;
      width: 100%;
    }
    >img {
      margin-left: 0;
      margin-right: 5rem;
    }
  }
  #frame-l {
    padding-left: 2.5%;
  }
  #frame-r {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .photoFrame {
    width: 95%;
  }
  #section-1 {
    flex-wrap:wrap;
  }
}

@media (max-width: 700px) {
  #top_section img {
    display: none;
  }
  #top-line {
    background-image: none;
  }
}

@media (max-width: 600px) {
  .hidden-mobile-xs {
    display: none;
  }
}







